body {
    background: #fff url(../images/background.jpg) repeat-y;
    background-size: cover;
}

table {
    width: 300px; 
    border-collapse: collapse; 
    border: 6px solid transparent; 
}

td, th {
    background: transparent;
    padding: 2px;
    border: 5px solid grey; 
    text-align: left; 
}

div a {
    width: 200px;
}

div p {
    font-size: 16px;
    font-weight: bold;
}

.row {
    margin-bottom: 30px;
    margin-top: 20px;
}
