@model Field
@{

    ViewData["Title"] = "Main";
}
<div class="row">
    <table align="center">
        <tr>
            @for (int i = 0; i < Model.Cells.Length; i++)
            {
                if (i % 3 == 0 && i != 0)
                {
                    @:</tr><tr>
                }
                <td><a href=""><img src="images/@((int)Model.Cells[i]).png" id=@i></a></td>
            }
        </tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Результаты</h5>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>